<app-my-header name="Лабораторна робота 7"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card>
      <ion-card-header>
          <ion-title>Завдання</ion-title>
          <p>1. Розробити сервіс для табулювання функції відповідно до варіанту</p>
            <p>2. Розробити сервіс для розрахунку значень функції за допомогою ряду
            відповідно до варіанту</p>
            <p>3. Розробити сервіс для розрахунку значень функції за допомогою рекурсії
            відповідно до варіанту</p>
            <p>4. Розробити сервіс для логування обчислених значень у консоль та
            використати його у попередніх трьох сервісах</p>
            <p>5. У основному застосунку підключити сервіси, вивести результати усіх
            розрахунків та побудувати графіки для усіх обрахунків.</p>
            <div class="img_formula"></div>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Xn</ion-label>
          <ion-input #InputXn value="-9.42"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Xk</ion-label>
          <ion-input #InputXk value="9.42"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">h</ion-label>
          <ion-input #InputH value="0.1"></ion-input>
        </ion-item>
          <ion-button (click)="ras(InputXn.value, InputXk.value, InputH.value)">Розрахунок</ion-button>
      </ion-card-content>
      <ion-card>
        <ion-card-title>
          <h1>Результати розрахунку:</h1>
        </ion-card-title>
        <ion-card-content>
          <ion-item>
            <canvas #lineCanvas1>
            </canvas>
            </ion-item>
            <ion-item>
              <canvas #lineCanvas2>
              </canvas>
              </ion-item>
              <ion-item>
                <canvas #lineCanvas3>
                </canvas>
                </ion-item>
          <ion-list>
            <ion-item *ngFor="let item of xyInput | keyvalue">
              <ion-label>
                <h5>{{item.key}}</h5>
                <h5>{{item.value}}</h5>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
  </ion-card>

</ion-content>
