@import "../app.component.scss"
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Лабораторна робота №1</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Бикова Валенина КН-31</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header collapse="condense">
      <ion-card-toolbar>
        <ion-title size="large">Завдання 2</ion-title>
      </ion-card-toolbar>
    </ion-card-header>
    <ion-card-content>
      <p>На заданому проміжку чисел [a,b] знайти суму всіх, які кратні 11 та при діленні на 8 дають в остачі 5.</p>
      <ion-item>
        <ion-label position="floating">Перше число</ion-label>
        <ion-input type="number" id="a" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Друге число</ion-label>
        <ion-input type="number" id="b" #Inputb></ion-input>
      </ion-item>
      <ion-button (click)="ras(Inputa.value,Inputb.value)">Розрахунок</ion-button>
      <ion-item>
        <p>Результат {{d}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
