@import "../app.component.scss"
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Лабораторна робота №1</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Бикова Валенина КН-31</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header collapse="condense">
      <ion-card-toolbar>
        <ion-title size="large">Завдання 3</ion-title>
      </ion-card-toolbar>
    </ion-card-header>
    <ion-card-content>
      <p>Згенерувати матрицю розміром NxN. Знайти максимальне значення (позначити зеленим) 
        та мінімальне значення (позначити синім).</p>
      <ion-item>
        <ion-label position="floating">N</ion-label>
        <ion-input type="number" id="a" #Inputn></ion-input>
      </ion-item>
      <ion-button (click)="ras(Inputn.value)">Розрахунок</ion-button>
      <ion-item>
        <ion-item>
          <ion-grid><ion-row *ngFor="let i of a">
            <ion-col *ngFor="let j of i" [ngStyle]="{backgroundColor:getColor(j)}">{{j}}</ion-col>
          </ion-row></ion-grid>
        </ion-item>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
